.graph_table__container {
  transition: height 0.3s ease-in-out;
  overflow: auto;
  padding-bottom: 1em;
}

.graph__table {
  thead {
    background-color: var(--blue-light-color);
  }
  tbody {
    tr {
      cursor: pointer;
      background-color: transparent !important;
      transition: background-color 0.3s ease-in-out;
    }
    tr:hover {
      background-color: var(--blue-light-color) !important;
    }
  }
}

.pagination_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.page_button {
  padding: 0.5rem 1rem;
  border: inherit;
  border-radius: inherit;
  border-top: none;
  border-bottom: none;
  background-color: var(--app-bg);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page_button:nth-of-type(1) {
  border-left: none;
}

.page_button:nth-of-type(2) {
  border-right: none;
}

.page_button:hover {
  background-color: var(--element-2-bg);
}

.page_button.disabled {
  background-color: var(--element-2-bg);
  cursor: not-allowed;
}

.page_number {
  font-size: 1rem;
  font-weight: bold;
}
