.light {
  --app-bg: rgba(255, 255, 255, 100%);
  --app-bg-transparent: rgba(255, 255, 255, 20%);
  --app-contrast-bg: rgba(51, 179, 178, 100%);
  --app-dark-bg: rgba(18, 19, 20, 100%);
  --element-bg: rgba(255, 255, 255, 100%);
  --element-2-bg: rgba(243, 243, 243, 100%);
  --element-blind-bg: rgba(234, 235, 237, 100%);
  --element-blind-contrast-bg: rgba(255, 255, 255, 10%);
  --icon-color: rgba(18, 19, 20, 100%);
  --icon-contrast-bg: rgba(255, 255, 255, 100%);
  --text-color: rgba(18, 19, 20, 100%);
  --text-2-color: rgba(145, 151, 163, 100%);
  --text-contrast-color: rgba(255, 255, 255, 100%);
  --text-contrast-hero-color: rgba(255, 255, 255, 100%);
  --text-contrast-2-color: rgba(255, 255, 255, 70%);
  --text-contrast-hero-2-color: rgba(255, 255, 255, 70%);
  --text-blind-color: rgba(170, 177, 189, 100%);
  --text-blind-contrast-color: rgba(255, 255, 255, 50%);
  --primary-color: rgba(51, 179, 178, 100%);
  --primary-dark-color: rgba(31, 148, 147, 100%);
  --primary-light-color: rgba(77, 198, 197, 100%);
  --accent-color: rgba(9, 59, 128, 100%);
  --accent-dark-color: rgba(3, 49, 104, 100%);
  --accent-light-color: rgba(39, 94, 159, 100%);
  --divider-color: rgba(217, 221, 228, 100%);
  --divider-contrast-color: rgba(255, 255, 255, 20%);
  --border-color: rgba(217, 221, 228, 100%);
  --border-contrast-color: rgba(255, 255, 255, 20%);
  --error-color: rgba(202, 53, 74, 100%);
  --error-color-transparent: rgba(202, 53, 74, 20%);
  --overflow-color: #1213144d;
  --overflow-color-2: #12131480;
  --ui-contrast-color-primary-button: #121314;
  --box-shadow: rgba(34, 60, 80, 0.2);
  --bg-overlay: rgba(18, 19, 20, 0.6);
  --table-head-color: #f8fafc;
}

.dark {
  --app-bg: rgba(12, 12, 12, 100%);
  --app-bg-transparent: rgba(12, 12, 12, 20%);
  --app-contrast-bg: rgba(21, 151, 151, 100%);
  --app-dark-bg: rgba(31, 35, 41, 100%);
  --element-bg: rgba(12, 12, 12, 100%);
  --element-2-bg: rgba(44, 48, 57, 100%);
  --element-blind-bg: rgba(43, 47, 54, 100%);
  --element-blind-contrast-bg: rgba(255, 255, 255, 10%);
  --icon-color: rgba(12, 12, 12, 100%);
  --icon-contrast-bg: rgba(251, 252, 252, 100%);
  --text-color: rgba(251, 252, 252, 100%);
  --text-2-color: rgba(170, 173, 183, 100%);
  --text-contrast-color: rgba(251, 252, 252, 100%);
  --text-contrast-hero-color: rgba(251, 252, 252, 100%);
  --text-contrast-2-color: rgba(251, 252, 252, 50%);
  --text-contrast-hero-2-color: rgba(251, 252, 252, 50%);
  --text-blind-color: rgba(121, 125, 135, 100%);
  --text-blind-contrast-color: rgba(255, 255, 255, 55%);
  --primary-color: rgba(55, 197, 196, 100%);
  --primary-dark-color: rgba(18, 154, 153, 100%);
  --primary-light-color: rgba(101, 192, 191, 100%);
  --accent-color: rgba(4, 65, 156, 100%);
  --accent-dark-color: rgba(3, 34, 116, 100%);
  --accent-light-color: rgba(48, 107, 177, 100%);
  --divider-color: rgba(75, 78, 85, 100%);
  --divider-contrast-color: rgba(251, 252, 252, 20%);
  --border-color: rgba(75, 78, 85, 100%);
  --border-contrast-color: rgba(251, 252, 252, 20%);
  --error-color: rgba(184, 59, 73, 100%);
  --error-color-transparent: rgba(184, 59, 73, 20%);
  --overflow-color: #1f20254d;
  --overflow-color-2: #1f202580;
  --ui-contrast-color-primary-button: #121314;
  --box-shadow: rgba(255, 255, 255, 1);
  --bg-overlay: rgba(18, 19, 20, 0.6);
  --table-head-color: #0e181b;
}
