.App {
  font-size: 16px;
}

@media print {
  body {
    margin: 0 !important;
  }
}

.editor-container_classic-editor .editor-container__editor {
  margin: 1rem;
  min-width: 795px;
  max-width: 795px;
}

.btn-primary {
  background-color: #0277bd !important;
}
